#footer_sub_hero {
  background-color: $color-purple;
  color: white;
}

h4.heading4 {
  text-align: left;
  font-family: 'Necto Mono';
  font-size: 21px;
}

.subhero {
  text-align: left;
}

#footer_sub_hero .button--sc {
  background-color: black;
  color: white;
  margin-top: 2rem;
  display: inline-block;
}
