#footer_sub_hero {
  background-color: $color-purple;
  color: white;
}

h4.heading4 {
  text-align: left;
  font-family: 'Necto Mono';
  font-size: 21px;
}

a.subhero-cta {
  background-color: black;
  color: white;
  border-radius: 100px;
  padding: .5rem 1rem;
  font-weight: bold;
  font-size: 22px;
}

.subhero {
  text-align: left;
}
