.home-bullet__icon {
    float: none;
    text-align: center;
}

.home-bullet__icon img {
    width: 120px;
}

.home-bullet__desc {
    padding-left: 0;
    text-align: center;
    width: 100%;
    margin-top: 1.5rem;
}

.home-bullet__desc h3.heading4 {
    font-family: 'HK Grotesk', sans-serif;
    font-weight: 900;
}

.home-bullet__desc p {
    font-weight: 400;
}

.home-bullets {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.centered {
    text-align: center;
}
