#okbr-link {
  margin: auto 1rem;
}

.navbar {
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-weight: 100;
}

.main-nav__link a {
  padding: 0;
}

.main-nav ul {
  justify-content: center;
  padding: 2rem 0;
  line-height: 1;
}

.main-nav ul > li {
  flex: none;
}

.main-nav ul > li > a {
  padding: 0 2rem;
}

.main-nav ul > li:not(:last-child) a {
  border-right: solid 1px black;
}

.main-nav__link a,
.main-nav__link a:hover,
.main-nav__link a:focus {
  color: black;
  font-weight: 100;
}

.main-nav__link--active a,
.main-nav__link--active a:hover,
.main-nav__link--active a:focus {
  color: var(--primary);
  box-shadow: none;
  font-weight: bold;
  text-decoration: none;
}

.usermenu-off-canvas-holder .topbar__user__login a {
    color: white;
}

@media all and (max-width: 639px) {
    .topbar__dropmenu > ul > li > a {
        color: white;
    }

    .topbar > div.logo-wrapper {
      flex-direction: column;
    }
    #okbr-link {
      margin: 1.2rem 0 0;
    }

    .okbr-search {
      width: 100%;
    }

    .main-nav ul > li > a {
      margin: 1rem auto;
    }

    .main-nav ul > li:not(:last-child) a {
      border-right: 0px;
    }
}
