@import 'stylesheets/okbr/_fonts.scss';
@import 'stylesheets/okbr/_title.scss';
@import 'stylesheets/okbr/_search.scss';
@import 'stylesheets/okbr/_hero.scss';
@import 'stylesheets/okbr/_nav.scss';
@import 'stylesheets/okbr/_banner.scss';
@import 'stylesheets/okbr/_footer.scss';
@import 'stylesheets/okbr/_footer_sub_hero.scss';
@import 'stylesheets/okbr/_highlighted_processes.scss';
@import 'stylesheets/okbr/_how_to_participate.scss';
@import 'stylesheets/okbr/_typography.scss';

body {
  font-family: 'HK Grotesk', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.heading3 {
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
}

.card__title {
  font-weight: 600;
}

.button {
  text-transform: uppercase;
}

.button--sc {
  font-weight: 900;
  font-size: 22px;
}

.button--shadow{
  $shadows: (
    primary: shade($color-primary, 50%),
    secondary: shade($color-purple, 50%),
  );

  @include modifiers(background-color, $shadows){
    color: $white;
  }
}

.floating-helper__content {
  border-top: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Hanken Grotesk", Helvetica, Roboto, Arial, sans-serif;
}