@import 'stylesheets/okbr/_fonts.scss';
@import 'stylesheets/okbr/_title.scss';
@import 'stylesheets/okbr/_search.scss';
@import 'stylesheets/okbr/_hero.scss';
@import 'stylesheets/okbr/_nav.scss';
@import 'stylesheets/okbr/_banner.scss';
@import 'stylesheets/okbr/_footer.scss';
@import 'stylesheets/okbr/_footer_sub_hero.scss';
@import 'stylesheets/okbr/_highlighted_processes.scss';
@import 'stylesheets/okbr/_how_to_participate.scss';

body {
  font-family: 'HK Grotesk', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.heading3 {
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
}

.button--sc {
  background-color: $color-pink;
  color: black;
  border-radius: 100px;
  padding: .5rem 1rem;
  font-weight: 900;
  font-size: 22px;
}
