<section id="hero" style="background-image:url('<%= background_image %>');">
  <div class="hero__container">
    <div class="row">
      <div class="column hero__inner">
        <div class="hero__words">
          <div class="hero__word"><span>governo</span></div>
          <div class="hero__word"><span>aberto</span></div>
          <div class="hero__word highlight"><span>colaborativo</span></div>
        </div>
        <div class="hero__button">
          <%= cta_button %>
        </div>
      </div>
    </div>
  </div>
</section>
